html body{
    padding:0px;
    margin: 0px;
}
div{
    display: block;
}
body, ul, li, ol, p, dl, dd, h1, h2, h3, h4, h5, h6, img, iframe, form, div {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
}
/*左边*/
.mymuen{
	width: 75%;
	height: auto;
	overflow: hidden;
	margin: auto;
}
.mymuen_list{
	float:left;
	width: 24%;
	height: auto;
	overflow: hidden;
	margin-top:40px ;
	margin-bottom:20px ;
}
.mymuen_title{
	width: 100%;
	height: 50px;
	background-color: #D9D9D9;
	text-align: center;
}
.mymuen_list_n{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #F0F0F0;
	text-align: center;
	padding-bottom: 30px;
}
.mymuen_list_n1 {
	color: red;
}
.mymuen_title span{
	line-height: 50px;
	font-size: 18px;
}
.mymuen_list_n li{
	line-height: 50px;
	color: #000000;
}
.mymuen_list_n li:hover{
	background-color: #D9D9D9;
}
.mymuen_list_n a:hover{
	color: red;
}

/*右边*/
.myoder{
	width: 73%;
	height: auto;
	overflow: hidden;
	float: right;
	margin-top:20px ;
}
/*右边我的位置*/
.myoder_de{
	width: 100%;
	height: 20px;
	font-size: 13px;
	margin-bottom: 20px;
}

/*右边内容我的订单*/
.myinfo{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 5px;
}
.myinfo h3{
 margin-bottom: 20px; float: left; width: 100%;	
}
.myinfo h4{
 float: left; margin-bottom: 10px;
}
.myinfo table{
	width: 100%;
    text-align:left;
    margin-bottom: 40px;
    float: left;
    background-color: #F9F9F9;
}
.myinfo table th, {
	padding-right: 20px;
}
.myinfo table td {
	padding-top: 10px;
}