body{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}
*{
	padding: 0;
	margin:0;
}
.text_center{
	height:700px;
	width:100%;
}

.login_main{

	background-color: wheat;
}
.login_head{
	margin-bottom: 10px;
	margin-top: 20px;
	padding-left:20px ;
	padding-top: 20px;
	width: 1199px;
	height: 80px;
}
.login_left img{
	width: 790px;
	margin-right: 10px;
	height: 500px;
	float: left;
}
.login_right{
	margin-top: 90px;
	width: 300px;
	float: right;
	height: 350px;
	border: 1px solid #8e9887;
	box-shadow: 0px 1px 2px #eee;
}
.login_right .login_password{
	padding-left: 10px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
	margin-top: 7px;
	color: #3c3c3c;
	font-family: "microsoft yahei";
}
.login_password{
	font:bold 20px;
}
.login_main_in{
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.login_row input{
	width:230px ;
	margin-left: 5px;
	height: 35px;
	border: 1px solid #8e9887;
	padding-left: 40px;
	
}
.login_inp1{
	background: url(../img/icon_01.png)no-repeat 15px center;
}
.login_row .login_inp2{
	background: url(../img/icon_02.png)no-repeat 15px center;
}
.login_valid{
	width:265px ;
	margin-left: 5px;
	height: 35px;
	padding-left: 5px;	
}
.imgvalidate{
	width:95px;
	height:35px;
}
.login_valid span.login_valid_nm{
	color: #3c3c3c;
	line-height: 35px;
	
}
.login_tr{
    margin-left: 110px;
    padding-top: 30px;
}
.login_tr input.ltn{
	border-radius: 5px;
	width:90px;
	color: rgb(242, 242, 242);
    font-size: 16px;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    text-decoration: none;
    background: rgb(56, 95, 158);
    padding: 10px 30px;

}
.login_tr input.ltn:hover{
	color:red;
}

.btn:hover{
	color:red;
}
.login_wj{
	margin-top: 46px;
	margin-left: 155px;
}
.login_wj a:link,.login_wj a:visited{
	font-size: 14px;
    text-decoration: none;
	color: black;
}
.login_wj a:hover,.login_wj a:active{
	font-size: 14px;
	text-decoration: none;
	color: red;
}
.btn111{
	border: 1px solid #eef2f4;
	width: 80px;
    height: 35px;
    float: right;
}
.login_valid input{
	width: 80px;
	height: 35px;
	border: 1px solid #8e9887;
}
.bbb1{
	width: 230px;
	height: 25px;
	margin-left: 35px;
	font-size:13px;
}
#myModal input{
	height:30px;
	width:200px;
	font-size:15px;
	
}
#myModal .btn{
	height:30px;
	width:50px;
	background-color:rgb(56, 95, 158);
}